@model IEnumerable<DemoMVC.Models.Property>
@foreach (var item in Model)
{

    <a asp-action="Details" asp-route-id="@item.Id">
        <div class="bg-white border-2 border-gray-200 rounded-md hover:shadow-md duration-400 w-full cursor-pointer ">
            <div class="relative">
                <div class="flex flex-row items-center gap-1 absolute bottom-2 right-2">
                    <img src="https://anphuocland.com/assets/icons/home/whiteimage.svg" alt=""
                         class="w-[18px]" />
                    <span class="text-white font-semibold">
                        1
                    </span>
                </div>
                <img class="h-[150px] w-full max-w-full object-cover rounded-t-sm"
                     src="~/img/@item.ThumbnailUrl" />


            </div>
            <div class="flex flex-col p-3">
                <h1 class="text-sm font-sans font-semibold text-black line-clamp-2 relative h-10"
                    title=@item.Title>
                    @item.Title
                </h1>
                <div class="flex flex-row items-center gap-2">
                    <span class="text-red-600 text-base truncate font-medium ng-star-inserted">                        
                        @if (item.TotalPrice >= (decimal)1e9)
                        {
                            <span> @(Math.Round(item.TotalPrice / (decimal)1e9, 2)) tỷ VNĐ</span>
                        }
                        else
                        {
                            <span> @(Math.Round(item.TotalPrice / (decimal)1e6, 2)) triệu VNĐ</span>
                        }
                    </span>
                    <span class="text-gray-500 mb-2">
                        .
                    </span>
                    <span class="text-red-600 text-base truncate font-medium">
                        @item.TotalArea m²
                    </span>
                </div>
                <div class="truncate flex flex-row items-center gap-1 text-gray-600">
                    <img src="https://anphuocland.com/assets/icons/location.svg" alt=""
                         class="h-4" />
                    <span class="truncate"
                          title='@item.CommuneName, @item.DistrictName, @item.ProvinceName'>
                        @item.CommuneName, @item.DistrictName, @item.ProvinceName
                    </span>
                </div>
                <div class="flex flex-row justify-between items-center pt-2">
                    <p class="text-sm text-gray-400 cursor-pointer" id="time">
                        @{
                            int time = (int)(DateTime.Now - item.CreateOnDate).TotalMinutes;
                        }
                        Đăng

                        @if (time < 60)
                        {
                            <span> @(time) Phút trước</span>
                        }
                        else if (time < 24 * 60)
                        {


                        }
                        else if (time < 60 * 24 * 30)
                        {
                            time = (int)(time / 24 / 60);
                            <span> @time Ngày trước</span>
                        }
                        else
                        {

                            @item.CreateOnDate.ToString("dd/MM/yyyy")


                        }


                    </p>
                </div>
            </div>
            <div class="flex justify-between items-end pb-3 px-3">
                <div class="flex flex-row justify-end items-center text-xs text-amber-700">
                    @item.PropertyCodeType?.Title
                </div>
                @if (item.AllowTransaction)
                {
                    <p class="py-1 px-2 ng-star-inserted" style="background-color: rgb(59, 130, 246); color: rgb(255, 255, 255)">
                        Đang bán
                    </p>
                }
                else
                {
                    <p class="py-1 px-2 ng-star-inserted" style="background-color: rgb(239, 68, 68); color: rgb(255, 255, 255);">
                        Ngưng giao dịch
                    </p>
                }


            </div>
        </div>
    </a>
}
<input hidden value="@ViewData["Size"]" id="size" />

