@model IEnumerable<DemoMVC.Models.Property>
@{
    ViewData["Title"] = "RentPropertyNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <section class="sticky top-20 inset-x-0 z-40 bg-white border-t border-gray-200 sm:px-5 shadow-md">
        <form asp-action="RentPropertyNews" method="get" class="flex flex-wrap h-full w-full sm:w-5/6 mx-auto gap-x-5 gap-y-2 items-center justify-between py-2 flex-col sm:flex-row">
            <div class="w-40 mx-auto sm:mx-0">
                <a asp-action="SalePropertyNews">
                    <label for="sale" class="inline-flex items-center justify-between w-auto p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-blue-600 peer-checked:border-blue-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        <div class="w-full">Bán</div>
                    </label>
                </a>
                <a>
                    <input type="radio" id="rent" name="code" class="hidden peer" checked>
                    <label for="rent" class="inline-flex items-center justify-between w-auto p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:bg-blue-600 peer-checked:border-blue-600 peer-checked:text-white hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                        Cho thuê
                    </label>
                </a>
            </div>
            <div class="relative w-fit mx-auto sm:mx-0"><input type="text" placeholder="Nhập để tìm kiếm ..." name="SearchString" value="@ViewData["CurrentSearch"]" class="w-64 h-8 rounded-md text-gray-700 bg-white border border-solid border-gray-200 pr-9 pl-2 outline-blue-400 ng-pristine ng-valid ng-touched"><i class="text-lg las la-search absolute top-1/2 -translate-y-1/2 right-2 z-[1]"></i></div><div class="flex flex-1 justify-between items-center h-full border-l border-r border-gray-100 divide-x divide-gray-100 max-w-full sm:max-w-none"><div nz-dropdown="" nztrigger="click" class="ant-dropdown-trigger h-full w-1/3 hover:bg-gray-100 cursor-pointer ng-star-inserted"><div class="px-5"><div class="h-7 flex items-center whitespace-nowrap"><label class="text-gray-700 text-xs mr-2 cursor-pointer">Loại nhà đất</label><span nz-icon="" nztype="down" class="anticon !text-xs text-gray-400 anticon-down"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="down" aria-hidden="true"><path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></div><span class="font-medium truncate block">Chọn</span></div></div><div nz-tooltip="" nz-dropdown="" nztrigger="click" class="ant-dropdown-trigger h-full w-1/3 hover:bg-gray-100 cursor-pointer"><div class="px-5"><div class="h-7 flex items-center whitespace-nowrap"><label class="text-gray-700 text-xs mr-2 cursor-pointer">Khu vực</label><span nz-icon="" nztype="down" class="anticon !text-xs text-gray-400 anticon-down"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="down" aria-hidden="true"><path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></div><span class="truncate font-medium block">Toàn quốc</span></div></div><div nz-dropdown="" nztrigger="click" nzplacement="bottomRight" class="ant-dropdown-trigger h-full w-1/3 hover:bg-gray-100 cursor-pointer"><div class="px-5"><div class="h-7 flex items-center whitespace-nowrap"><label class="text-gray-700 text-xs mr-2 cursor-pointer">Lọc thêm</label><span nz-icon="" nztype="down" class="anticon !text-xs text-gray-400 anticon-down"><svg viewBox="64 64 896 896" focusable="false" fill="currentColor" width="1em" height="1em" data-icon="down" aria-hidden="true"><path d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z"></path></svg></span></div><span class="font-medium truncate block">Nguồn liên kết</span></div></div></div><div class="flex items-center gap-x-2 mx-auto"><button class="flex whitespace-nowrap cursor-pointer hover:bg-red-400 items-center rounded-md p-2 bg-red-500"><img src="/assets/icons/home/icon/search-white.svg" alt="" class="h-4"><span class="text-white font-medium ml-2">Tìm kiếm</span></button><button class="flex whitespace-nowrap cursor-pointer hover:bg-gray-100 items-center rounded-md p-2"><img src="../../../assets/icons/component/sync.svg" alt="" class="h-4"><span class="text-gray-700 font-medium ml-2">Đặt lại</span></button></div>
        </form>
    </section>
    <section class="max-w-screen-lg mx-auto p-4 sm:p-8 h-auto">
        <div class="grid grid-cols-3 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <div class="col-span-3 bg-white rounded-md w-full">
                <div>
                    <div class="mb-3">
                        <a class="text-sm text-gray-600 mb-5" title="Nhà đất bán tại Việt Nam"> Bán </a>
                        <span class="text-sm text-gray-600"> / </span>
                        <a class="text-sm font-medium text-black mb-3" title="Nhà đất bán trên toàn quốc">Nhà đất bán trên toàn quốc</a>
                    </div>
                    <h1 class="text-2xl font-semibold mb-5">Nhà đất bán trên toàn quốc</h1><p class="text-sm font-medium text-black mb-3">Hiện có @Model.ToArray().Length bất động sản</p>
                </div>@foreach (var item in Model)
                {
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <div class="border border-gray-200 shadow w-full mb-4 rounded hover:shadow-lg ng-star-inserted">
                            <div class="cursor-pointer">
                                <div>
                                    <div class="relative">
                                        <div class="flex flex-row items-center gap-1 absolute bottom-2 right-2 ng-star-inserted">
                                            <img src="https://anphuocland.com/assets/icons/home/whiteimage.svg" alt="" class="w-[18px]"><span class="text-white font-semibold ng-star-inserted">@item.VirtualImageListUrl.Count </span>
                                        </div>
                                        <div class="w-full ng-star-inserted">
                                            <img alt="" class="h-[284px] w-full max-w-full object-cover rounded-t" src="@item.ThumbnailUrl">
                                        </div>
                                    </div><div class="flex flex-col p-4 gap-1 sm:gap-2">
                                        <div class="flex gap-x-2">
                                            <p class="text-sm font-sans font-semibold text-gray-900 line-clamp-2 flex-1 relative" title="@item.Title">
                                                @item.Title
                                            </p><div class="hidden sm:block"><p class="py-1 px-2 ng-star-inserted" style="background-color: rgb(16, 158, 68); color: rgb(255, 255, 255);"> Đang bán </p></div>
                                        </div>
                                        <div class="flex gap-x-2 flex-wrap sm:flex-nowrap flex-col sm:flex-row items-start sm:items-stretch">
                                            <div class="flex-1">
                                                <span class="ng-star-inserted">
                                                    <span class="text-red-600 text-base font-medium">3.042</span><span class="opacity-70">
                                                        ‧
                                                    </span><span class="text-red-600 text-base font-medium">@item.TotalArea m²</span><span class="opacity-70">
                                                        ‧
                                                    </span><span class="text-sm"> 39 /m²</span><span class="opacity-70"> ‧ </span>
                                                </span>
                                                <span class="text-sm sm:truncate block sm:inline mt-1 sm:mt-0 ng-star-inserted">
                                                    <i class="las la-map-marker text-xl"></i> @item.CommuneName, @item.DistrictName, @item.ProvinceName
                                                </span>
                                            </div>
                                            <div class="hidden sm:flex flex-row justify-end items-center text-xs mt-0.5 sm:mt-0 text-amber-700"> #Đất </div>
                                        </div><div class="mt-1 sm:mt-2 line-clamp-2">
                                            <p class="text-sm" title="@item.Description">
                                                @item.Description
                                            </p>
                                        </div>
                                        <div class="flex sm:hidden w-full">
                                            <div class="block sm:flex flex-row justify-end items-center text-xs mt-0.5 sm:mt-0 text-amber-700"> #Đất </div>
                                            <div class="ml-auto"><p class="py-1 px-2 ng-star-inserted" style="background-color: rgb(16, 158, 68); color: rgb(255, 255, 255);"> Đang bán </p></div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </a>
                }
                <g-pagination class="ng-star-inserted">
                    <div class="flex items-center justify-between mt-3 select-none sm:flex-row flex-col ng-star-inserted">
                        <label>

                            </nz-select><span class="text-black w-40 flex items-center ng-star-inserted">
                                @{
                                    int count = 20;
                                }
                                Hiển thị @if (Model.ToList().Count < 20)
                                {
                                    count = Model.ToList().Count;
                                }
                                @count
                                / @Model.ToList().Count Kết quả
                            </span>
                        </label>
                        <div class="flex justify-center border border-gray-200 h-7 rounded-md bg-white ml-1">
                            <div class="flex flex-wrap justify-center items-center p-0.5">
                                <a href="#" class="text-center duration-300 transition-all py-0.5 px-1.5 text-xs font-medium text-blue-700 hover:text-blue-500 pointer-events-none ng-star-inserted" aria-label="page undefined">
                                    <i class="las la-angle-left text-xs ng-star-inserted"></i>
                                </a><a href="#" class="text-center duration-300 transition-all py-0.5 px-1.5 text-xs font-medium bg-blue-500 rounded-full text-white hover:text-white ng-star-inserted" aria-label="page 1"><span class="ng-star-inserted">1</span></a>
                                <a href="#" class="text-center duration-300 transition-all py-0.5 px-1.5 text-xs font-medium text-blue-700 hover:text-blue-500 pointer-events-none ng-star-inserted" aria-label="page undefined">
                                    <i class="las la-angle-right text-xs ng-star-inserted"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </g-pagination>
            </div><div class="col-span-1">
                <div class="bg-white rounded-md border border-gray-200 shadow w-full mb-4 hidden lg:block">
                    <div class="mx-1">
                        <div class="my-5">
                            <div class="flex justify-between items-center mb-3 px-4">
                                <h1 class="text-sm font-medium text-black">Lọc theo khoảng giá</h1><button nz-button="" nz-tooltip="" nztooltiptitle="Hủy lọc">
                                    <img src="assets/icons/recycle.svg" alt="" class="w-4">
                                </button>
                            </div><g-price _nghost-ter-c70="">
                                <main _ngcontent-ter-c70="" class="bg-white">
                                    <section _ngcontent-ter-c70="">
                                        <ul _ngcontent-ter-c70="" nz-menu="" class="ant-menu ant-menu-root ant-menu-light ant-menu-vertical">
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted">
                                                <span _ngcontent-ter-c70="" class="my-auto">Dưới 500 triệu</span>
                                            </li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted">
                                                <span _ngcontent-ter-c70="" class="my-auto">500 - 800 triệu</span>
                                            </li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted">
                                                <span _ngcontent-ter-c70="" class="my-auto">800 triệu - 1 tỷ</span>
                                            </li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted">
                                                <span _ngcontent-ter-c70="" class="my-auto">1- 2 tỷ</span>
                                            </li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted">
                                                <span _ngcontent-ter-c70="" class="my-auto">2- 3 tỷ</span>
                                            </li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c70="" class="my-auto">3 - 5 tỷ</span></li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c70="" class="my-auto">5 - 7 tỷ</span></li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c70="" class="my-auto">7 - 10 tỷ</span></li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c70="" class="my-auto">10 - 20 tỷ</span></li>
                                            <li _ngcontent-ter-c70="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c70="" class="my-auto">20 - 30 tỷ</span></li>
                                        </ul>
                                    </section>
                                </main>
                            </g-price>
                        </div>
                    </div>
                </div><div class="bg-white rounded-md border border-gray-200 shadow w-full mb-4 hidden lg:block">
                    <div class="mx-1">
                        <div class="my-5">
                            <div class="flex justify-between items-center mb-3 px-4">
                                <h1 class="text-sm font-medium text-black">Lọc theo diện tích</h1><button nz-button="" nz-tooltip="" nztooltiptitle="Hủy lọc">
                                    <img src="assets/icons/recycle.svg" alt="" class="w-4">
                                </button>
                            </div><g-acreage _nghost-ter-c71="">
                                <main _ngcontent-ter-c71="" class="bg-white">
                                    <section _ngcontent-ter-c71="">
                                        <ul _ngcontent-ter-c71="" nz-menu="" class="ant-menu ant-menu-root ant-menu-light ant-menu-vertical">
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">Dưới 30m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">30m² - 50m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">50m² - 80m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">80m² - 100m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">100m² - 150m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">150m² - 200m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">200m² - 250m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">250m² - 300m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">300m² - 500m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">500m² - 1000m²</span></li>
                                            <li _ngcontent-ter-c71="" nz-menu-item="" class="h-9 hover:bg-gray-100 flex justify-between cursor-pointer !px-4 active:bg-blue-200 text-black ant-menu-item ng-star-inserted"><span _ngcontent-ter-c71="" class="my-auto">Trên 1000m²</span></li>
                                        </ul>
                                    </section>
                                </main>
                            </g-acreage>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

